/* dGrid */
#grid {
	width: 100%;
	height: 95%;
	margin: 5px;
	border: none;
}

.dgrid-header {
	background-color: #ffffff !important;
	color: #007AC2;
	border: none;
}

/* adjust font size */
.dgrid-row {
	font-size: 0.9em;
	height: 125px;
}

.dgrid-row-table > tr {
	height: 40px !important;
}

/* remove the cell borders */
.dgrid-cell {
	border: none !important;
}

/* Columns */
/* http://www.sitepen.com/blog/2012/05/03/css-styling-of-dgrid/ */
/* Thumbnail */
.field-thumbnailUrl {
	width: 190px;
}

.field-thumbnailUrl img {
	border-radius: 2px;
	height: 100px;
}

/* Title */
.field-title {

}

.title-column-container {

}

.title-column-title {
	color: #014cff;
}

.title-column-title:hover {
	color: #150fff;
	cursor: pointer;
}

.title-column-snippet {
	font-size: 0.82em;
	color: #333;
	margin-top: 3px;
}

.title-column-type {
	font-size: 0.82em;
	color: #565656;
}

.title-column-modified {
	font-size: 0.82em;
	color: #565656;
}

/* Type */
.field-type {
	color: #333;
	font-size: 0.82em;
	width: 120px;
}

/* Status */
.field-status {
	font-size: 0.82em;
	width: 120px;
}

.item {

}

.thumbnail {
	padding: 3px;
	border-radius: 3px;
}

.thumbnail img {

}

.summary {
	margin-left: 5px;
	font-size: 0.9em;
	color: #454545;
}

/* Collapsible section */
.table .expando {
	/* style of area containing summary, expanded on click */
	margin-left: 10px;
	margin-right: 10px;
}

.table .collapsed .expando {
	display: none;
}