html, body {
	height: 100%;
	width: 1024px;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
	font-size: 1.0em;
}

body {
	overflow: hidden;
}

#map {
	width: 100%;
	height: 260px;
}

#init-screen-msg {
	font-size: 0.9em;
	color: rgb(97, 97, 97);
	font-weight: 100;
}

/* TO BE REMOVED */
#signIn:hover {
	cursor: pointer;
	color: #e0e0e0;
}

#sign-in-container {
	background-color: #0172B6;
	color: white;
	width: 250px;
	height: 20px;
	text-align: center;
	border-radius: 3px;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: .70em;
	margin-left: auto;
    margin-right: auto;
}

/* END */

/* CONTAINERS */
.page-container {
	width: 100%;
	height: 100%
}

.header-pane {
	height: 60px !important;
	line-height: 60px;
	background-color: #0172B6 !important;
	color: white;
	font-size: 1.7em;
	border: none !important;
	font-weight: 100;
}

.control-pane {
	height: 80px !important;
	border: none !important;
}

.leading-pane {
	width: 100%;
	overflow: hidden !important;
	border: none !important;
}

.center-pane {

}

.trailing-pane {

}

.bottom-pane {

}

/* END CONTAINERS */

/* Tabcontainer over-rides */
.nihilo .dijitTabContainerTop-container {
	overflow-y: scroll !important;
}

.nihilo .dijitTabPaneWrapper {
	border: none !important;
}

.nihilo .dijitTab {
	width: 150px !important;
	border: none !important;
	background: none !important;
}

.dijitTabInner .dijitTabContent .dijitTab {
	border: none;
}

.dijitTabPaneWrapper.dijitTabContainerTop-container.dijitAlignCenter {
	overflow: hidden !important;
}

/* line below tabs */
.dijitTabContainerBottom-spacer, .dijitTabContainerTop-spacer {
	height: 0px !important;
	border: none !important;
}

.dijitTabSpacer .dijitTabContainerTop-spacer .dijitAlignTop {
	display: none;
}

.selected-tab-ribbon {
	height: 20px;
	width: 100%;
	border-radius: 2px;
	background-color: #007AC2;
	color: white;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: -5px;
	padding-left: 5px;
}

.dijitTab .tabLabel {
	background-color: #007AC2 !important;
	color: #ffffff !important;
	padding: 2px !important;
	border-radius: 4px !important;
	width: 125px !important;
	text-align: center !important;
}

/* END Tabcontainer over-rides */

/* Tabcontainer */
/* The tab container */
.tab-container {
	height: 410px !important;
	width: 98% !important;
	/*margin-left: 5px*/
	/*margin-top: -300px;*/
}

.tab-container-top-pane {
	width: 100%;
	border: none !important;
	margin-top: 10px;
}

.tab-container-thumbnail-pane {
	width: 14%;
	border: none;
	float: left;
	margin-right: 15%;
	overflow: hidden;
}

.tab-container-title-summary-pane {
	width: 100%;
	border: none;
}

.tab-container-title-pane {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}

.tab-container-summary-pane {
	width: 100%;
	border: none;
}

.tab-container-description-pane {
	width: 100%;
	border: none !important;
	/*margin-top: 80px;*/
}

.section-header {
	font-size: 0.85em;
	color: #007AC2;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

.section-header-message {
	color: rgb(178, 178, 178);
	font-size: 0.75em;
}

.section-content {
	font-size: 0.85em;
}

.overall-msg {
	font-size: 0.85em;
	color: rgb(145, 145, 145);
}

.info-icon {
	height: 15px;
	float: right;
}

.performance-info-icon {
	height: 15px;
}