---
title: Tailcoat | Getting Started
---

<div id="home-banner" class="trailer-2">
  <div class="container">
    <div class="row">
      <div id="home-main-text" class="leader-3 trailer-3 column-16 tablet-column-24 center center-text white-text">
        <h1 class="light">Tailcoat</h1>
        <p class="large no-trailer">The CSS framework that allows you to remain fashionable while riding a horse.</p>
        <ul class="plain inline">
          <li><a class="btn clear white leader-1" href="https://github.com/arcgis/tailcoat">View Project on Github</a></li>
          <li><a class="btn clear white leader-1" href="https://github.com/arcgis/tailcoat/releases">Download Latest (<%= latest_version %>)</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <aside class="column-5 tablet-column-24">
      <nav class="sidebar-navigation">
        <header><h4>Getting Started</h4></header>
        <ul>
          <li><a href="#precompiled-css">Precompiled CSS</a></li>
          <li><a href="#sass-and-compass">SASS and Compass</a></li>
          <li><a href="#browsers">Browser Compatibility</a></li>
          <li><a href="https://github.com/ArcGIS/tailcoat/blob/master/CHANGELOG.md">Change Log</a></li>
        </ul>
      </nav>
    </aside>

    <section role="main" class="flow-content pre-1 column-18 tablet-column-24 tablet-pre-0">
      <%= partial "getting_started" %>
    </section>
  </div>
</div>
