---
title: Tailcoat | Sass
description: Sass mixins and helper classes for Tailcoat
search_description: "Tailcoat is built with SASS, so if you're using SASS, you have access to several extendable classes and mixins that Tailcoat uses internally"
section: 5
---

<div class="navigation-bar no-nav trailer-2">
  <div class="container">
    <header>
        <h1>Sass</h1>
    </header>
  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="column-5 tablet-column-24">

        <nav class="sidebar-navigation">
          <header>
            <h4>Helper Mixins</h4>
          </header>
          <ul>
            <li><a href="#section-5.1.1">Position</a></li>
            <li><a href="#section-5.1.2">Show</a></li>
            <li><a href="#section-5.1.3">Hide</a></li>
            <li><a href="#section-5.1.4">Retina Image Replace</a></li>
            <li><a href="#section-5.1.5">Retina Background</a></li>
           </ul>
        </nav>

        <nav class="sidebar-navigation">
          <header>
            <h4>Responsive Mixins</h4>
          </header>
          <ul>
            <li><a href="#section-5.2">Respond To</a></li>
          </ul>
        </nav>

        <nav class="sidebar-navigation">
          <header>
            <h4>Right to Left Mixins</h4>
          </header>
          <ul>
            <li><a href="#section-5.3">Right to Left</a></li>
          </ul>
        </nav>

        <nav class="sidebar-navigation">
          <header>
            <h4>IE Mixins</h4>
          </header>
          <ul>
            <li><a href="#section-5.4">IE Specific Styles</a></li>
          </ul>
        </nav>

        <nav class="sidebar-navigation">
          <header>
            <h4>Grid Mixins</h4>
          </header>
          <ul>
            <li><a href="#section-5.5.1">Container</a></li>
            <li><a href="#section-5.5.2">Column</a></li>
            <li><a href="#section-5.5.3">Column-Width</a></li>
            <li><a href="#section-5.5.4">Center-Column</a></li>
            <li><a href="#section-5.5.5">Last-Column</a></li>
            <li><a href="#section-5.5.6">Pre and Post</a></li>
          </ul>
        </nav>

        <nav class="sidebar-navigation">
          <header>
            <h4>Extendable Sass Class</h4>
          </header>
          <ul>
            <li><a href="#section-5.6.1">Content Area</a></li>
            <li><a href="#section-5.6.2">Panel</a></li>
            <li><a href="#section-5.6.3">Full</a></li>
            <li><a href="#section-5.6.4">Clearfix</a></li>
          </ul>
        </nav>

      </nav>
    </aside>
    <section role="main" class="flow-content pre-1 column-18 tablet-column-24 tablet-pre-0">

      <%# Helper Classes %>
      <div class="styleguide-example">
        <h1>Helper Mixins</h1>

        <%# Helper Mixins %>
        <% styleguide "5.1.1" %>
        <% styleguide "5.1.2" %>
        <% styleguide "5.1.3" %>
        <% styleguide "5.1.4" %>
        <% styleguide "5.1.5" %>

        <%# Respond To Mixin %>
        <% styleguide "5.2" %>

        <%# Right to Left Mixins %>
        <% styleguide "5.3" %>

        <%# IE Mixins %>
        <% styleguide "5.4" %>

        <%# Grid Mixins %>
        <% styleguide "5.5.1" %>
        <% styleguide "5.5.2" %>
        <% styleguide "5.5.3" %>
        <% styleguide "5.5.4" %>
        <% styleguide "5.5.5" %>
        <% styleguide "5.5.6" %>

        <%# Extendable Classes %>
        <% styleguide "5.6.1" %>
        <% styleguide "5.6.2" %>
        <% styleguide "5.6.3" %>
        <% styleguide "5.6.4" %>

      </div>

    </section>
  </div>
</div>
