/* dGrid */
#dgrid {
	display: none;
	border: none;
}

/* adjust font size */
.dgrid-row {
	font-size: 0.9em;
	height: 100px;
}

.dgrid-row-table > tr {
	height: 40px !important;
}

/* remove the cell borders */
.dgrid-cell {
	/*border: none !important;*/
	border-top: 1px solid #cccccc !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: none !important;
}

/* Styles for auto-height grids; simply add the dgrid-autoheight class */
.dgrid-autoheight {
	height: auto;
}

.dgrid-autoheight .dgrid-scroller {
	position: relative;
	overflow-y: hidden;
}

.dgrid-autoheight .dgrid-header-scroll {
	display: none;
}

.dgrid-autoheight .dgrid-header {
	right: 0;
}

/* Columns */
/* http://www.sitepen.com/blog/2012/05/03/css-styling-of-dgrid/ */
/* Thumbnail */
.field-thumbnailUrl {
	/*width: 190px;*/
	/*width: 130px;*/
}

.field-thumbnailUrl img {
	border-radius: 2px;
	height: 75px;
}

/* Title */
.field-title {

}

.title-column-container {

}

.item-meta-data {
	margin-bottom: -3px;
}

/* item title */
.item-title {
	margin-bottom: 13px;
	color: #005E95;
	-webkit-font-smoothing: antialiased;
	font-size: 1.6em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;

}

.item-title:hover {
	color: #0658c2;
	cursor: pointer;
}

/* item type */
.item-type {
	position: relative;
	font-size: 1.2em;
	color: ##333;
	-webkit-font-smoothing: antialiased;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

/* item access */
.item-access {
	position: relative;
	color: ##333;
	-webkit-font-smoothing: antialiased;
	font-size: 1.0em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

/* item number of views */
.item-number-views {
	font-size: 0.95em;
	color: ##333;
	-webkit-font-smoothing: antialiased;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

/* dGrid Thumbnail */
.thumbnail {
	padding: 3px;
	border-radius: 3px;
}

.thumbnail img {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #0079C1;
}

.summary {
	margin-left: 5px;
	color: #454545;
}

.content-section {
	/*margin-left: 50px;*/
}

.info-graphic {
	width: 22px;
}