#map {
	width: 100%;
	height: 260px;
}

.btn-group-container {
	margin-bottom: 10px;
}

.header-tooltip {
	float: right;
}

.section-header {
	color: #007AC2;
	/*letter-spacing: 2px;*/
	margin-bottom: 5px;
}

.section-header-message {
	color: rgb(178, 178, 178);
}

.section-header img {
	max-width: 70% !important;
}

.section-content {
	margin-bottom: 5px;
}

.overall-msg {
	color: rgb(145, 145, 145);
}

.info-icon {
	height: 15px !important;
	float: right !important;
}

.performance-info-icon {
	height: 15px !important;
}

/* TAILCOAT specific */
table tr {
	border-bottom: none !important;
}

#save-row {
	margin-top: 10px;
}

.save-btn {
	position: absolute;
	z-index: 1000;
	margin-left: 30%;
	margin-top: 10%;
	opacity: 0.90;
}

.alert-success-loader {
	position: absolute;
	z-index: 1000;
	margin-left: 30%;
	margin-top: 10%;
	opacity: 0.90;
}

.alert-loader-error {
	position: absolute;
	z-index: 1000;
	margin-left: 30%;
	margin-top: 10%;
	opacity: 0.90;
}

/* Dijit Editor */
.dijitEditor {
	height: 100px !important;
}

.dijitEditorIFrameContainer iframe {
	height: 100px !important;
}

/* STATUS */
.status-container {
	width: 15px;
	height: 15px;
	border: 1px solid #565656;
}

/* When item is expanded */
.expanded-item-text {
	line-height: 1.0em;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #166FA3;
	-webkit-font-smoothing: antialiased;
	font-size: 1.0em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

.expanded-item-thumbnail {
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border: 1px solid #007AC2 !important;
	max-width: 120px;
}

.expanded-item-thumbnail:hover {
	cursor: pointer;
}

/* Current Score header text */
.current-score-header {
	font-size: 1.5em;
	color: #166FA3;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 5px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

.current-score-number {
	font-size: 2.7em;
	color: #166FA3;
	letter-spacing: 2px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

.score-spacer {
	font-size: 0.0em;
}

/* Progress bar */
.current-score-graphic-container {
	height: 30px;
}

.nihilo .dijitProgressBarEmpty {
	border-color: white !important;
}

/* drop down sort/filter */
.drop-down-style {
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	font-size: 1.1em;
	line-height: 1.0em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
	background-color: #4997D2;
	color: white;
}

.tooltip-content-text {
	width: 250px;
	height: 200px;
	text-align: left;
}

.test {
	background-color: #005E95;
	color: white;
	height: 150px;
}

.sign-in {

}

.search-items, .dropdown-item-sort, .dropdown-item-filter, .help-button {
	display: none;
}

.ribbon-header-title {
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.0em;
	font-family: 'Avenir LT W01 65 Heavy', Arial, Helvetica, sans-serif;
}

.ribbon-header-user {
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	font-size: 0.85em;
	line-height: 1.0em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

#ribbon-header-num-items {
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.0em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

::-webkit-input-placeholder {
	color: white;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: white;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: white;
}

:-ms-input-placeholder {
	color: white;
}

/* Dojo Editor Style over-rides that are conflicting with Tailcoat */
/* */
#dijit__editor_plugins__FontNameDropDown_0 > label {
	margin: 0 !important;
}

#dijit__editor_plugins__FontSizeDropDown_0 > label {
	margin: 0 !important;
}

#dijit__editor_plugins__FontNameDropDown_0_select_popup, #dijit__editor_plugins__FontSizeDropDown_0_select_popup {
	-webkit-font-smoothing: antialiased;
	font-size: 0.85em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

#dijit__editor_plugins__FontNameDropDown_0, #dijit__editor_plugins__FontSizeDropDown_0 {
	width: 150px;
	-webkit-font-smoothing: antialiased;
	font-size: 0.85em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

#widget_dijit__editor_plugins__FontNameDropDown_0_select, #widget_dijit__editor_plugins__FontSizeDropDown_0_select {
	width: 100px;
	height: 25px;
}

#description-editor {
	height: 100px !important;
}

#access-constraints-editor {
	height: 100px !important;
}

/* */
.score-graphic {
	width: 40px;
	height: 20px;
	border: 1px solid red;
	border-radius: 3px;
	color: red;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
}

.score-graphic-text {
	/*transform: translateY(30%);*/
}

.header-tooltip {
	/*transform: translateY(30%);*/
}

.thumbnail-dialog {
	-webkit-font-smoothing: antialiased;
	font-size: 0.85em;
	font-family: 'Avenir LT W01 65 Medium', Arial, Helvetica, sans-serif;
}

.thumbnail-dialog-row {
	margin-bottom: 5px;
}

#nominate-btn {
	margin-top: 15px;
	color: red;
	border: 1px solid red;
	background-color: white;
}

.custom-btn {
	width: 120px;
}